html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #eaeaea;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #140F2D;
}

b {
  font-weight: 700;
}

.container {
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-flow:row wrap;
  &.before-load {
    .left {
      width: 100%;
      height: 100%;
      transition:all 250ms;
    }
    .right {
      width: 0;
      transition:all 250ms;
      padding: 0;
    }
  }
}

.left {
  width: 30%;
  border-right:1px solid #f2f2f2;
  background: white;
  box-shadow:0 0 20px rgba(black,.2);
  padding: 30px;
  transition:all 250ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #F49D37;
  form {
    width: 100%;
  }
  input {
    margin: 15px auto;
    border: 2px solid #3F88C5;
    padding: 15px 10px;
    font-size: 16px;
    max-width: 420px;
    width: 100%;
  }
}

.left-text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.right {
  width: 70%;
  padding: 30px;
  transition:all 250ms;
  background: #140F2D;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  b {
    display: block;
    font-size: 36px;
    line-height: 1.2;
  }
}

button.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px 30px;
  background-color:#3F88C5;
  border:2px solid #FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
  font-size:17px;
  cursor:pointer !important;
  outline:none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  &:disabled {
    opacity: 0.5;
  }
}


